<div class="tools">
  <form [formGroup]="toolsForm">
    <div *ngFor="let _trk of tracks">
      {{ _trk.userData['stats'].distance }}<br />
      {{ _trk.userData['stats'].points }}<br />
      {{ _trk.userData['stats'].delayTotal / 1000 / 60 }} min<br />
      {{ _trk.userData['stats'].delayMove / 1000 / 60 }} min<br />
      {{ _trk.userData['stats'].speedTotal }} km/h<br />
      {{ _trk.userData['stats'].speedMove }} km/h<br />
    </div>
    <div>
      <input
        id="z-scale"
        type="number"
        class="custom-control-input"
        formControlName="zScaleFc"
      />
      <label class="custom-control-label" for="z-scale">
        {{ 'TOOLS.Z_SCALE' | translate }}</label
      >
    </div>
  </form>
</div>
