<div class="tools">
  <form [formGroup]="toolsForm">
    <div>
      <input
        id="z-scale"
        type="number"
        class="custom-control-input"
        formControlName="zScaleFc"
      />
      <label class="custom-control-label" for="z-scale">
        {{ 'TOOLS.Z_SCALE' | translate }}</label
      >
    </div>
    <div>
      <input
        id="interpolation-step"
        type="number"
        class="custom-control-input"
        formControlName="interpolationStepFc"
      />
      <label class="custom-control-label" for="z-scale">
        {{ 'TOOLS.INTERPOLATION_STEP' | translate }}</label
      >
    </div>
  </form>
</div>
