<div>
  <h1>
    {{ 'GPX_MANAGER.TITLE' | translate }}
    <i
      class="right i-button eva eva-plus"
      (click)="displayAdd = !displayAdd"
      title="{{ 'GPX_MANAGER.ADD' | translate }}"
    ></i>
  </h1>
  <p *ngFor="let gpxFile of model?.gpxFiles">
    <i
      title="{{ 'GPX_MANAGER.DELETE' | translate }}"
      (click)="delete(gpxFile.id)"
      class="i-button eva eva-trash"
    ></i
    ><i
      title="{{ 'GPX_MANAGER.SHOW_HIDE' | translate }}"
      (click)="see(gpxFile.id)"
      class="i-button eva"
      [ngClass]="{
        'eva-eye': isVisible(gpxFile.id),
        'eva-eye-off': !isVisible(gpxFile.id)
      }"
    ></i
    ><span [style.color]="getRgbColor(gpxFile)">{{ gpxFile.title }}</span>
  </p>
</div>
<app-files-uploader *ngIf="displayAdd" (onAdd)="refresh()"></app-files-uploader>
